<header class="header">
    <nav class="header_menu">
        <ul class="header_menu__list">
            <li class="header_menu__item">
                <img src="assets/images/logo.png" alt="" class="header_menu__logo">
            </li>
            <li class="header_menu__item">
                <address class="header_menu__contact">
                    <a class="contact_phone" href="tel:+1234567891">(123) 456-7891</a>
                </address>
            </li>
            <li class="header_menu__item">
                <address class="header_menu__salons">
                    <a class="salons" href="tel:+1234567891">(123) 456-7891</a>
                </address>
            </li>
            <li class="header_menu__item">
                <app-custombutton 
                title="Версия для слабовидящих" 
                pictureSrc="assets/images/icon_eye.png"
                color="green"
                ></app-custombutton>
            </li>
            <li class="header_menu__item">
                <img src="assets/images/logo.png" alt="" class="header_menu__logo">
            </li>
        </ul>
    </nav>
</header>
